<img class="logo" src="../../assets/chalk-logo1.png">

<section>
    <div class="container">
        <div class="title"><h1>TDEE Calculator</h1></div>
    <mat-card>
        <mat-form-field appearance="outline" >
            <mat-label>Age (years) </mat-label>
            <input type="number" matInput placeholder="ex.) 25">
        </mat-form-field>
        <mat-form-field appearance="outline" >
            <mat-label>Body Weight (lbs) </mat-label>
            <input type="number" matInput placeholder="ex.) 170">
        </mat-form-field>
    </mat-card>
    </div>
</section>