@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}

.hrwidth {
    width: 60%;
    margin: auto;
}

.bookmark {
    float: right;
    font-size: 25px;
    display: block;
}

.finalResults {
    padding-top: 5%;
}

.whyThis {
    cursor: pointer;
    color: #004d99;
    text-decoration: underline;
}

table {
    width: 100%;
}

.goalDisplay {
    font-size: 1.5rem;
    font-weight: bold;
}

mat-card {
    width: 50%;
    padding-top: 5%;
}

.goalResult {
    width: 100%;
    padding: 2% 8% 2% 8%;
}

.pie {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.how {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #004d99;
}

.sml {
    padding: 0 20%;
}

.sml2 {
    font-size: .75rem;
    padding: 20%;
}

.layout {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .layout {
        flex-direction: column;
    }

    .sml {
        font-size: .75rem;
    }
}

.matCard1 {
    margin-right: 5%;
}

.matCard11 {
    margin-right: 5%;
    padding: 3% 5%;
    width: 50%;
}

.matCard22 {
    padding: 3% 5%;
    width: 50%;
}

.matCard2 {
    padding: 3% 5%;
}

@media screen and (max-width: 800px) {
    mat-card {
        padding-top: 10%;
        width: 100%;
        margin-bottom: 10%;
    }

    .pie {
        width: 70%;
    }

    .matCard1 {
        margin-right: 0;
    }

    .matCard11 {
        margin-right: 0;
        width: 100%;
        margin-bottom: 5%;
    }

    .matCard22 {
        margin-right: 0;
        width: 100%;
        margin-bottom: 5%;
    }
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.results {
    margin: auto;
    width: 340px;
}

.macros {
    margin-top: 3%;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 210px;
}

section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    padding-bottom: 4%;
}


mat-form-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}


@media screen and (max-width: 900px) {
    mat-form-field {
        width: 30vw;
    }
}

@media screen and (max-width: 570px) {
    mat-form-field {
        width: 40vw;
    }
}

@media screen and (max-width: 430px) {
    mat-form-field {
        width: 60vw;
    }
}